# ‚òùÔ∏è Convenience Links

<font color='orangered'>**As there are two within this notebook, they're inserted within main titles (Look for the üåê emoji)**.</font>

# Imports and Setup

In [145]:
from datetime import datetime
import json
import time
from typing import List

import pandas as pd

# üåê [DB-ENGINES RANKING](https://db-engines.com/en/ranking)

‚ö†Ô∏è <font color='orangered'>**Check for the update frequency, in order to program refreshes.**</font>

## üîé Search

In [138]:
DB_ENGINES_URL = 'https://db-engines.com/en/ranking'

In [139]:
db_tables = pd.read_html(DB_ENGINES_URL)

In [140]:
len(db_tables)

6

In [141]:
type(db_tables[0])

pandas.core.frame.DataFrame

In [142]:
for idx, table in enumerate(db_tables):
    print(idx, ':', f'{len(table) = }')

0 : len(table) = 1
1 : len(table) = 1
2 : len(table) = 2
3 : len(table) = 419
4 : len(table) = 2
5 : len(table) = 2

üëâ <font color='orangered'>**According to this, the DataFrame containing the DBSM ranking is the 4th (index 3)**</font>

In [143]:
db_ranking = db_tables[3]

In [144]:
db_ranking.head()

,0,1,2,3,4,5,6,7,8,9,...,89,90,91,92,93,94,95,96,97,98
0,"416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023",...,"416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023","416 systems in ranking, November 2023"
1,Rank,Rank,Rank,DBMS,Database Model,Score,Score,Score,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Nov 2023,Oct 2023,Nov 2022,DBMS,Database Model,Nov 2023,Oct 2023,Nov 2022,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1.,1.,1.,Oracle Detailed vendor-provided information av...,"Relational, Multi-model Relational DBMS Docume...",1277.03,+15.61,+35.34,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2.,2.,2.,MySQL Detailed vendor-provided information ava...,"Relational, Multi-model Relational DBMS Docume...",1115.24,-18.07,-90.30,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [100]:
db_ranking = (db_ranking
              .rename(columns={3: 'DataBase'})
              .loc[3:, 'DataBase']
              .str.replace(' Detailed vendor-provided information available', '')
              .reset_index(drop=True)
)
display(db_ranking)

0         Elasticsearch
1               IBM Db2
2                SQLite
3      Microsoft Access
4             Snowflake
             ...
405               JasDB
406                K-DB
407            RaptorDB
408             Rizhiyi
409           searchxml
Name: DataBase, Length: 410, dtype: object

In [125]:
db_ranking_list = db_ranking.to_list()
print(db_ranking_list)

['Elasticsearch', 'IBM Db2', 'SQLite', 'Microsoft Access', 'Snowflake', 'Cassandra', 'MariaDB', 'Splunk', 'Microsoft Azure SQL Database', 'Amazon DynamoDB', 'Databricks', 'Hive', 'Google BigQuery', 'Teradata', 'FileMaker', 'Neo4j', 'SAP HANA', 'Solr', 'SAP Adaptive Server', 'HBase', 'Microsoft Azure Cosmos DB', 'InfluxDB', 'PostGIS', 'Microsoft Azure Synapse Analytics', 'Firebird', 'Couchbase', 'Amazon Redshift', 'Informix', 'Memcached', 'Spark SQL', 'Impala', 'Firebase Realtime Database', 'ClickHouse', 'Presto', 'Vertica', 'dBASE', 'Netezza', 'OpenSearch', 'Apache Flink', 'CouchDB', 'Google Cloud Firestore', 'Greenplum', 'Amazon Aurora', 'H2', 'Kdb', 'etcd', 'Realm', 'MarkLogic', 'Hazelcast', 'Prometheus', 'Oracle Essbase', 'Datastax Enterprise', 'Aerospike', 'Microsoft Azure Data Explorer', 'Algolia', 'Ehcache', 'Derby', 'CockroachDB', 'ScyllaDB', 'Microsoft Azure Search', 'Interbase', 'Microsoft Azure Table Storage', 'Sphinx', 'Jackrabbit', 'Trino', 'SingleStore', 'Ingres', 'Virtuoso', 'TimescaleDB', 'SAP SQL Anywhere', 'Google Cloud Datastore', 'Graphite', 'HyperSQL', 'Adabas', 'Riak KV', 'SAP IQ', 'ArangoDB', 'Apache Jena - TDB', 'UniData,UniVerse', 'Ignite', 'Google Cloud Bigtable', 'TiDB', 'Accumulo', 'RocksDB', 'Oracle NoSQL', 'OpenEdge', 'DuckDB', 'DolphinDB', 'GemFire', 'OrientDB', 'Google Cloud Spanner', 'RavenDB', 'Infinispan', 'MaxDB', 'IBM Cloudant', 'Oracle Berkeley DB', 'YugabyteDB', 'LevelDB', 'Pinecone', 'HEAVY.AI', 'Memgraph', 'Apache Druid', '4D', 'CloudKit', 'RethinkDB', 'EXASOL', 'Apache Drill', 'PouchDB', 'Apache Phoenix', 'EDB Postgres', 'TDengine', 'InterSystems IRIS', 'RRDtool', 'GraphDB', 'Citus', 'InterSystems Cach√©', 'Coveo', 'IMS', 'LMDB', 'NebulaGraph', 'Amazon Neptune', 'Oracle Coherence', 'Geode', 'Amazon SimpleDB', 'Percona Server for MySQL', 'Amazon CloudSearch', 'Stardog', 'Firebolt', 'Datomic', 'SpatiaLite', 'MonetDB', 'jBASE', 'BaseX', 'Chroma', 'Empress', 'Amazon DocumentDB', 'JanusGraph', 'Mnesia', 'Tibero', 'QuestDB', 'GridDB', 'TigerGraph', 'Db4o', 'Weaviate', 'Tarantool', 'GridGain', 'Dgraph', 'SQLBase', 'OpenTSDB', 'Sedna', 'OceanBase', 'Fauna', 'Datameer', 'PlanetScale', 'Actian NoSQL Database', 'TimesTen', 'VoltDB', 'FoundationDB', 'Infobright', 'IBM Db2 warehouse', 'NonStop SQL', 'ObjectStore', 'mSQL', 'LiteDB', 'Milvus', 'DataEase', 'Cubrid', 'D3', 'VictoriaMetrics', 'Apache Kylin', 'Giraph', 'GT.M', 'ObjectBox', 'HFSQL', 'Meilisearch', 'MatrixOne', 'Perst', 'GBase', 'Oracle Rdb', 'GigaSpaces', 'Vitess', 'Northgate Reality', 'SQL.JS', 'EventStoreDB', 'HPE Ezmeral Data Fabric', 'AllegroGraph', 'M3DB', 'Apache HAWQ', 'StarRocks', 'solidDB', 'NuoDB', 'NCache', 'openGauss', '1010data', 'Apache IoTDB', 'Qdrant', 'Model 204', 'ZODB', 'BigchainDB', 'SurrealDB', 'Xapian', 'DBISAM', 'Actian Vector', 'Hibari', 'Dolt', 'TypeDB', 'Altibase', 'Amazon Timestream', 'ObjectDB', 'Blazegraph', 'Amazon Keyspaces', 'TDSQL for MySQL', 'IDMS', 'RDF4J', 'GeoMesa', 'eXist-db', 'WebSphere eXtreme Scale', 'Rockset', 'Yellowbrick', 'SQream DB', 'Datacom/DB', 'Typesense', 'MapDB', 'Objectivity/DB', 'CrateDB', 'eXtremeDB', 'SciDB', 'AlaSQL', 'KairosDB', 'Kinetica', 'Alibaba Cloud MaxCompute', 'KeyDB', 'OpenInsight', 'Alibaba Cloud AnalyticDB for MySQL', 'GemStone/S', 'Vald', 'Apache Doris', 'ScaleArc', 'RisingWave', 'FrontBase', 'Postgres-XL', 'Apache Pinot', 'Heroic', 'VistaDB', 'Scalaris', 'NexusDB', 'Percona Server for MongoDB', 'Graph Engine', 'BoltDB', 'atoti', 'Vespa', 'LokiJS', 'Raima Database Manager', 'Databend', 'R:BASE', 'Redland', 'HarperDB', 'Splice Machine', 'Alibaba Cloud AnalyticDB for PostgreSQL', 'ModeShape', 'Strabon', 'Jade', 'Sequoiadb', 'CnosDB', 'ITTIA', 'Elliptics', 'Elassandra', 'Rasdaman', 'Kingbase', 'SearchBlox', 'InfiniteGraph', '4store', 'Alibaba Cloud ApsaraDB for PolarDB', 'Starcounter', 'Axibase', 'Alibaba Cloud Log Service', 'Kyligence Enterprise', 'FeatureBase', 'Lovefield', 'Project Voldemort', 'Brytlyt', 'Machbase Neo', 'Actian FastObjects', 'OpenQM', 'RDFox', 'AnzoGraph DB', 'Fluree', 'Immudb', 'Mimer SQL', 'YDB', 'RedStore', 'HyperGraphDB', 'Marqo', 'EJDB', 'Tajo', 'Deep Lake', 'AntDB Sponsored post', 'LeanXcale', 'Mulgara', 'Fujitsu Enterprise Postgres', 'FlockDB', 'STSdb', 'PieCloudDB', 'Transbase', 'ElevateDB', 'Riak TS', 'Cloudflare Workers KV', 'Faircom DB', 'NEventStore', 'Comdb2', 'YottaDB', 'Quasardb', 'Speedb', 'EsgynDB', 'Tibco ComputeDB', 'HugeGraph', 'Valentina Server', 'PipelineDB', 'Bangdb', 'Dydra', 'TinkerGraph', 'IBM Db2 Event Store', 'Ultipa', 'Alibaba Cloud Table Store', 'Actian PSQL', 'CubicWeb', 'Exorbyte', 'GraphBase', 'Tokyo Tyrant', 'Skytable', 'TerminusDB', 'Badger', 'GreptimeDB', 'TransLattice', 'ArcadeDB', 'Transwarp KunDB', 'Sparksee', 'MyScale', 'BigObject', 'Linter', 'Manticore Search', 'Dragonfly', 'Tigris', 'H2GIS', 'VelocityDB', 'Eloquera', 'HyperLevelDB', 'XTDB', 'Blueflood', 'SenseiDB', 'Alibaba Cloud TSDB', 'TerarkDB', 'OrigoDB', 'TomP2P', 'XtremeData', 'Siaqodb', 'YTsaurus', 'Warp 10', 'openGemini', 'Upscaledb', 'Kyoto Tycoon', 'gStore', 'OushuDB', 'Indica', 'BrightstarDB', 'InfinityDB', 'NosDB', 'Transwarp Hippo', 'Acebase', 'SiriDB', 'SiteWhere', 'Transwarp ArgoDB', 'NSDb', 'JaguarDB', 'WakandaDB', 'Transwarp StellarDB', 'Galaxybase', 'DataFS', 'Sadas Engine', 'Hawkular Metrics', 'AgensGraph', 'Faircom EDGE', 'Cachelot.io', 'iBoxDB', 'ScaleOut StateServer', 'Tkrzw', 'SWC-DB', 'LedisDB', 'SwayDB', 'Newts', 'ActorDB', 'Edge Intelligence', 'WhiteDB', 'SmallSQL', 'SpaceTime', 'SparkleDB', 'Resin Cache', 'JethroData', 'BergDB', 'CortexDB', 'CovenantSQL', 'DaggerDB', 'EdgelessDB', 'Helium', 'HGraphDB', 'JasDB', 'K-DB', 'RaptorDB', 'Rizhiyi', 'searchxml']

In [102]:
ts = get_timestamp()
path = '../data/db-engines_ranking_'
csv_path = f'{path}{ts}.csv'
json_path = f'{path}{ts}.json'
db_ranking.to_csv(csv_path)
with open(json_path, 'w', encoding='utf-8') as dump_file:
        # Last parameter `ensure_ascii` to force display of non-ascii characters
        json.dump(db_ranking_list, dump_file, indent=4, ensure_ascii=False)

## üõ†Ô∏è Sum-Up Function

In [169]:
def get_db_engines_ranking(export: str) -> List[str]:
    """
    Get db engines ranking for database usage.
    Params
    ------
        `export`: str
            'csv' or 'json' to set the export type,
            the file will be saved in the data folder.
    Returns
    -------
        A list of strings of databases' names.
    """
    # Loading all tables from the page
    tables = pd.read_html(DB_ENGINES_URL)
    # Preprocessing
    ranking = (tables[3]
               .rename(columns={3: 'DataBase'})
               .loc[3:, 'DataBase']
               .str.replace(' Detailed vendor-provided information available', '')
               .reset_index(drop=True)
              )
    ranking_list = ranking.to_list()

    # Export
    if export not in {'json', 'csv'}:
        print("NO EXPORT")
        print(f"Expected 'csv' or 'json' as output format, got {export}")
        return ranking_list
        
    ts = datetime.now().strftime('%Y-%m')
    path = '../data/db_engines_ranking'
    
    if export == 'csv':
        ranking.to_csv(f'{path}_{ts}.csv')
    else:
        with open(f'{path}_{ts}.json', 'w', encoding='utf-8') as dump_file:
            # `ensure_ascii` to force display of non-ascii characters
            json.dump(ranking_list, dump_file, indent=4, ensure_ascii=False)
        
    return ranking_list

## üíæ Testing and Exports

In [150]:
get_db_engines_ranking('foo')

NO EXPORT
Expected 'csv' or 'json' as output format, got foo

['Oracle',
 'MySQL',
 'Microsoft SQL Server',
 'PostgreSQL',
 'MongoDB',
 'Redis',
 'Elasticsearch',
 'IBM Db2',
 'SQLite',
 'Microsoft Access',
 'Snowflake',
 'Cassandra',
 'MariaDB',
 'Splunk',
 'Microsoft Azure SQL Database',
 'Amazon DynamoDB',
 'Databricks',
 'Hive',
 'Google BigQuery',
 'Teradata',
 'FileMaker',
 'Neo4j',
 'SAP HANA',
 'Solr',
 'SAP Adaptive Server',
 'HBase',
 'Microsoft Azure Cosmos DB',
 'InfluxDB',
 'PostGIS',
 'Microsoft Azure Synapse Analytics',
 'Firebird',
 'Couchbase',
 'Amazon Redshift',
 'Informix',
 'Memcached',
 'Spark SQL',
 'Impala',
 'Firebase Realtime Database',
 'ClickHouse',
 'Presto',
 'Vertica',
 'dBASE',
 'Netezza',
 'OpenSearch',
 'Apache Flink',
 'CouchDB',
 'Google Cloud Firestore',
 'Greenplum',
 'Amazon Aurora',
 'H2',
 'Kdb',
 'etcd',
 'Realm',
 'MarkLogic',
 'Hazelcast',
 'Prometheus',
 'Oracle Essbase',
 'Datastax Enterprise',
 'Aerospike',
 'Microsoft Azure Data Explorer',
 'Algolia',
 'Ehcache',
 'Derby',
 'CockroachDB',
 'ScyllaDB',
 'Microsoft Azure Search',
 'Interbase',
 'Microsoft Azure Table Storage',
 'Sphinx',
 'Jackrabbit',
 'Trino',
 'SingleStore',
 'Ingres',
 'Virtuoso',
 'TimescaleDB',
 'SAP SQL Anywhere',
 'Google Cloud Datastore',
 'Graphite',
 'HyperSQL',
 'Adabas',
 'Riak KV',
 'SAP IQ',
 'ArangoDB',
 'Apache Jena - TDB',
 'UniData,UniVerse',
 'Ignite',
 'Google Cloud Bigtable',
 'TiDB',
 'Accumulo',
 'RocksDB',
 'Oracle NoSQL',
 'OpenEdge',
 'DuckDB',
 'DolphinDB',
 'GemFire',
 'OrientDB',
 'Google Cloud Spanner',
 'RavenDB',
 'Infinispan',
 'MaxDB',
 'IBM Cloudant',
 'Oracle Berkeley DB',
 'YugabyteDB',
 'LevelDB',
 'Pinecone',
 'HEAVY.AI',
 'Memgraph',
 'Apache Druid',
 '4D',
 'CloudKit',
 'RethinkDB',
 'EXASOL',
 'Apache Drill',
 'PouchDB',
 'Apache Phoenix',
 'EDB Postgres',
 'TDengine',
 'InterSystems IRIS',
 'RRDtool',
 'GraphDB',
 'Citus',
 'InterSystems Cach√©',
 'Coveo',
 'IMS',
 'LMDB',
 'NebulaGraph',
 'Amazon Neptune',
 'Oracle Coherence',
 'Geode',
 'Amazon SimpleDB',
 'Percona Server for MySQL',
 'Amazon CloudSearch',
 'Stardog',
 'Firebolt',
 'Datomic',
 'SpatiaLite',
 'MonetDB',
 'jBASE',
 'BaseX',
 'Chroma',
 'Empress',
 'Amazon DocumentDB',
 'JanusGraph',
 'Mnesia',
 'Tibero',
 'QuestDB',
 'GridDB',
 'TigerGraph',
 'Db4o',
 'Weaviate',
 'Tarantool',
 'GridGain',
 'Dgraph',
 'SQLBase',
 'OpenTSDB',
 'Sedna',
 'OceanBase',
 'Fauna',
 'Datameer',
 'PlanetScale',
 'Actian NoSQL Database',
 'TimesTen',
 'VoltDB',
 'FoundationDB',
 'Infobright',
 'IBM Db2 warehouse',
 'NonStop SQL',
 'ObjectStore',
 'mSQL',
 'LiteDB',
 'Milvus',
 'DataEase',
 'Cubrid',
 'D3',
 'VictoriaMetrics',
 'Apache Kylin',
 'Giraph',
 'GT.M',
 'ObjectBox',
 'HFSQL',
 'Meilisearch',
 'MatrixOne',
 'Perst',
 'GBase',
 'Oracle Rdb',
 'GigaSpaces',
 'Vitess',
 'Northgate Reality',
 'SQL.JS',
 'EventStoreDB',
 'HPE Ezmeral Data Fabric',
 'AllegroGraph',
 'M3DB',
 'Apache HAWQ',
 'StarRocks',
 'solidDB',
 'NuoDB',
 'NCache',
 'openGauss',
 '1010data',
 'Apache IoTDB',
 'Qdrant',
 'Model 204',
 'ZODB',
 'BigchainDB',
 'SurrealDB',
 'Xapian',
 'DBISAM',
 'Actian Vector',
 'Hibari',
 'Dolt',
 'TypeDB',
 'Altibase',
 'Amazon Timestream',
 'ObjectDB',
 'Blazegraph',
 'Amazon Keyspaces',
 'TDSQL for MySQL',
 'IDMS',
 'RDF4J',
 'GeoMesa',
 'eXist-db',
 'WebSphere eXtreme Scale',
 'Rockset',
 'Yellowbrick',
 'SQream DB',
 'Datacom/DB',
 'Typesense',
 'MapDB',
 'Objectivity/DB',
 'CrateDB',
 'eXtremeDB',
 'SciDB',
 'AlaSQL',
 'KairosDB',
 'Kinetica',
 'Alibaba Cloud MaxCompute',
 'KeyDB',
 'OpenInsight',
 'Alibaba Cloud AnalyticDB for MySQL',
 'GemStone/S',
 'Vald',
 'Apache Doris',
 'ScaleArc',
 'RisingWave',
 'FrontBase',
 'Postgres-XL',
 'Apache Pinot',
 'Heroic',
 'VistaDB',
 'Scalaris',
 'NexusDB',
 'Percona Server for MongoDB',
 'Graph Engine',
 'BoltDB',
 'atoti',
 'Vespa',
 'LokiJS',
 'Raima Database Manager',
 'Databend',
 'R:BASE',
 'Redland',
 'HarperDB',
 'Splice Machine',
 'Alibaba Cloud AnalyticDB for PostgreSQL',
 'ModeShape',
 'Strabon',
 'Jade',
 'Sequoiadb',
 'CnosDB',
 'ITTIA',
 'Elliptics',
 'Elassandra',
 'Rasdaman',
 'Kingbase',
 'SearchBlox',
 'InfiniteGraph',
 '4store',
 'Alibaba Cloud ApsaraDB for PolarDB',
 'Starcounter',
 'Axibase',
 'Alibaba Cloud Log Service',
 'Kyligence Enterprise',
 'FeatureBase',
 'Lovefield',
 'Project Voldemort',
 'Brytlyt',
 'Machbase Neo',
 'Actian FastObjects',
 'OpenQM',
 'RDFox',
 'AnzoGraph DB',
 'Fluree',
 'Immudb',
 'Mimer SQL',
 'YDB',
 'RedStore',
 'HyperGraphDB',
 'Marqo',
 'EJDB',
 'Tajo',
 'Deep Lake',
 'AntDB Sponsored post',
 'LeanXcale',
 'Mulgara',
 'Fujitsu Enterprise Postgres',
 'FlockDB',
 'STSdb',
 'PieCloudDB',
 'Transbase',
 'ElevateDB',
 'Riak TS',
 'Cloudflare Workers KV',
 'Faircom DB',
 'NEventStore',
 'Comdb2',
 'YottaDB',
 'Quasardb',
 'Speedb',
 'EsgynDB',
 'Tibco ComputeDB',
 'HugeGraph',
 'Valentina Server',
 'PipelineDB',
 'Bangdb',
 'Dydra',
 'TinkerGraph',
 'IBM Db2 Event Store',
 'Ultipa',
 'Alibaba Cloud Table Store',
 'Actian PSQL',
 'CubicWeb',
 'Exorbyte',
 'GraphBase',
 'Tokyo Tyrant',
 'Skytable',
 'TerminusDB',
 'Badger',
 'GreptimeDB',
 'TransLattice',
 'ArcadeDB',
 'Transwarp KunDB',
 'Sparksee',
 'MyScale',
 'BigObject',
 'Linter',
 'Manticore Search',
 'Dragonfly',
 'Tigris',
 'H2GIS',
 'VelocityDB',
 'Eloquera',
 'HyperLevelDB',
 'XTDB',
 'Blueflood',
 'SenseiDB',
 'Alibaba Cloud TSDB',
 'TerarkDB',
 'OrigoDB',
 'TomP2P',
 'XtremeData',
 'Siaqodb',
 'YTsaurus',
 'Warp 10',
 'openGemini',
 'Upscaledb',
 'Kyoto Tycoon',
 'gStore',
 'OushuDB',
 'Indica',
 'BrightstarDB',
 'InfinityDB',
 'NosDB',
 'Transwarp Hippo',
 'Acebase',
 'SiriDB',
 'SiteWhere',
 'Transwarp ArgoDB',
 'NSDb',
 'JaguarDB',
 'WakandaDB',
 'Transwarp StellarDB',
 'Galaxybase',
 'DataFS',
 'Sadas Engine',
 'Hawkular Metrics',
 'AgensGraph',
 'Faircom EDGE',
 'Cachelot.io',
 'iBoxDB',
 'ScaleOut StateServer',
 'Tkrzw',
 'SWC-DB',
 'LedisDB',
 'SwayDB',
 'Newts',
 'ActorDB',
 'Edge Intelligence',
 'WhiteDB',
 'SmallSQL',
 'SpaceTime',
 'SparkleDB',
 'Resin Cache',
 'JethroData',
 'BergDB',
 'CortexDB',
 'CovenantSQL',
 'DaggerDB',
 'EdgelessDB',
 'Helium',
 'HGraphDB',
 'JasDB',
 'K-DB',
 'RaptorDB',
 'Rizhiyi',
 'searchxml']

In [151]:
get_db_engines_ranking('csv')

['Oracle',
 'MySQL',
 'Microsoft SQL Server',
 'PostgreSQL',
 'MongoDB',
 'Redis',
 'Elasticsearch',
 'IBM Db2',
 'SQLite',
 'Microsoft Access',
 'Snowflake',
 'Cassandra',
 'MariaDB',
 'Splunk',
 'Microsoft Azure SQL Database',
 'Amazon DynamoDB',
 'Databricks',
 'Hive',
 'Google BigQuery',
 'Teradata',
 'FileMaker',
 'Neo4j',
 'SAP HANA',
 'Solr',
 'SAP Adaptive Server',
 'HBase',
 'Microsoft Azure Cosmos DB',
 'InfluxDB',
 'PostGIS',
 'Microsoft Azure Synapse Analytics',
 'Firebird',
 'Couchbase',
 'Amazon Redshift',
 'Informix',
 'Memcached',
 'Spark SQL',
 'Impala',
 'Firebase Realtime Database',
 'ClickHouse',
 'Presto',
 'Vertica',
 'dBASE',
 'Netezza',
 'OpenSearch',
 'Apache Flink',
 'CouchDB',
 'Google Cloud Firestore',
 'Greenplum',
 'Amazon Aurora',
 'H2',
 'Kdb',
 'etcd',
 'Realm',
 'MarkLogic',
 'Hazelcast',
 'Prometheus',
 'Oracle Essbase',
 'Datastax Enterprise',
 'Aerospike',
 'Microsoft Azure Data Explorer',
 'Algolia',
 'Ehcache',
 'Derby',
 'CockroachDB',
 'ScyllaDB',
 'Microsoft Azure Search',
 'Interbase',
 'Microsoft Azure Table Storage',
 'Sphinx',
 'Jackrabbit',
 'Trino',
 'SingleStore',
 'Ingres',
 'Virtuoso',
 'TimescaleDB',
 'SAP SQL Anywhere',
 'Google Cloud Datastore',
 'Graphite',
 'HyperSQL',
 'Adabas',
 'Riak KV',
 'SAP IQ',
 'ArangoDB',
 'Apache Jena - TDB',
 'UniData,UniVerse',
 'Ignite',
 'Google Cloud Bigtable',
 'TiDB',
 'Accumulo',
 'RocksDB',
 'Oracle NoSQL',
 'OpenEdge',
 'DuckDB',
 'DolphinDB',
 'GemFire',
 'OrientDB',
 'Google Cloud Spanner',
 'RavenDB',
 'Infinispan',
 'MaxDB',
 'IBM Cloudant',
 'Oracle Berkeley DB',
 'YugabyteDB',
 'LevelDB',
 'Pinecone',
 'HEAVY.AI',
 'Memgraph',
 'Apache Druid',
 '4D',
 'CloudKit',
 'RethinkDB',
 'EXASOL',
 'Apache Drill',
 'PouchDB',
 'Apache Phoenix',
 'EDB Postgres',
 'TDengine',
 'InterSystems IRIS',
 'RRDtool',
 'GraphDB',
 'Citus',
 'InterSystems Cach√©',
 'Coveo',
 'IMS',
 'LMDB',
 'NebulaGraph',
 'Amazon Neptune',
 'Oracle Coherence',
 'Geode',
 'Amazon SimpleDB',
 'Percona Server for MySQL',
 'Amazon CloudSearch',
 'Stardog',
 'Firebolt',
 'Datomic',
 'SpatiaLite',
 'MonetDB',
 'jBASE',
 'BaseX',
 'Chroma',
 'Empress',
 'Amazon DocumentDB',
 'JanusGraph',
 'Mnesia',
 'Tibero',
 'QuestDB',
 'GridDB',
 'TigerGraph',
 'Db4o',
 'Weaviate',
 'Tarantool',
 'GridGain',
 'Dgraph',
 'SQLBase',
 'OpenTSDB',
 'Sedna',
 'OceanBase',
 'Fauna',
 'Datameer',
 'PlanetScale',
 'Actian NoSQL Database',
 'TimesTen',
 'VoltDB',
 'FoundationDB',
 'Infobright',
 'IBM Db2 warehouse',
 'NonStop SQL',
 'ObjectStore',
 'mSQL',
 'LiteDB',
 'Milvus',
 'DataEase',
 'Cubrid',
 'D3',
 'VictoriaMetrics',
 'Apache Kylin',
 'Giraph',
 'GT.M',
 'ObjectBox',
 'HFSQL',
 'Meilisearch',
 'MatrixOne',
 'Perst',
 'GBase',
 'Oracle Rdb',
 'GigaSpaces',
 'Vitess',
 'Northgate Reality',
 'SQL.JS',
 'EventStoreDB',
 'HPE Ezmeral Data Fabric',
 'AllegroGraph',
 'M3DB',
 'Apache HAWQ',
 'StarRocks',
 'solidDB',
 'NuoDB',
 'NCache',
 'openGauss',
 '1010data',
 'Apache IoTDB',
 'Qdrant',
 'Model 204',
 'ZODB',
 'BigchainDB',
 'SurrealDB',
 'Xapian',
 'DBISAM',
 'Actian Vector',
 'Hibari',
 'Dolt',
 'TypeDB',
 'Altibase',
 'Amazon Timestream',
 'ObjectDB',
 'Blazegraph',
 'Amazon Keyspaces',
 'TDSQL for MySQL',
 'IDMS',
 'RDF4J',
 'GeoMesa',
 'eXist-db',
 'WebSphere eXtreme Scale',
 'Rockset',
 'Yellowbrick',
 'SQream DB',
 'Datacom/DB',
 'Typesense',
 'MapDB',
 'Objectivity/DB',
 'CrateDB',
 'eXtremeDB',
 'SciDB',
 'AlaSQL',
 'KairosDB',
 'Kinetica',
 'Alibaba Cloud MaxCompute',
 'KeyDB',
 'OpenInsight',
 'Alibaba Cloud AnalyticDB for MySQL',
 'GemStone/S',
 'Vald',
 'Apache Doris',
 'ScaleArc',
 'RisingWave',
 'FrontBase',
 'Postgres-XL',
 'Apache Pinot',
 'Heroic',
 'VistaDB',
 'Scalaris',
 'NexusDB',
 'Percona Server for MongoDB',
 'Graph Engine',
 'BoltDB',
 'atoti',
 'Vespa',
 'LokiJS',
 'Raima Database Manager',
 'Databend',
 'R:BASE',
 'Redland',
 'HarperDB',
 'Splice Machine',
 'Alibaba Cloud AnalyticDB for PostgreSQL',
 'ModeShape',
 'Strabon',
 'Jade',
 'Sequoiadb',
 'CnosDB',
 'ITTIA',
 'Elliptics',
 'Elassandra',
 'Rasdaman',
 'Kingbase',
 'SearchBlox',
 'InfiniteGraph',
 '4store',
 'Alibaba Cloud ApsaraDB for PolarDB',
 'Starcounter',
 'Axibase',
 'Alibaba Cloud Log Service',
 'Kyligence Enterprise',
 'FeatureBase',
 'Lovefield',
 'Project Voldemort',
 'Brytlyt',
 'Machbase Neo',
 'Actian FastObjects',
 'OpenQM',
 'RDFox',
 'AnzoGraph DB',
 'Fluree',
 'Immudb',
 'Mimer SQL',
 'YDB',
 'RedStore',
 'HyperGraphDB',
 'Marqo',
 'EJDB',
 'Tajo',
 'Deep Lake',
 'AntDB Sponsored post',
 'LeanXcale',
 'Mulgara',
 'Fujitsu Enterprise Postgres',
 'FlockDB',
 'STSdb',
 'PieCloudDB',
 'Transbase',
 'ElevateDB',
 'Riak TS',
 'Cloudflare Workers KV',
 'Faircom DB',
 'NEventStore',
 'Comdb2',
 'YottaDB',
 'Quasardb',
 'Speedb',
 'EsgynDB',
 'Tibco ComputeDB',
 'HugeGraph',
 'Valentina Server',
 'PipelineDB',
 'Bangdb',
 'Dydra',
 'TinkerGraph',
 'IBM Db2 Event Store',
 'Ultipa',
 'Alibaba Cloud Table Store',
 'Actian PSQL',
 'CubicWeb',
 'Exorbyte',
 'GraphBase',
 'Tokyo Tyrant',
 'Skytable',
 'TerminusDB',
 'Badger',
 'GreptimeDB',
 'TransLattice',
 'ArcadeDB',
 'Transwarp KunDB',
 'Sparksee',
 'MyScale',
 'BigObject',
 'Linter',
 'Manticore Search',
 'Dragonfly',
 'Tigris',
 'H2GIS',
 'VelocityDB',
 'Eloquera',
 'HyperLevelDB',
 'XTDB',
 'Blueflood',
 'SenseiDB',
 'Alibaba Cloud TSDB',
 'TerarkDB',
 'OrigoDB',
 'TomP2P',
 'XtremeData',
 'Siaqodb',
 'YTsaurus',
 'Warp 10',
 'openGemini',
 'Upscaledb',
 'Kyoto Tycoon',
 'gStore',
 'OushuDB',
 'Indica',
 'BrightstarDB',
 'InfinityDB',
 'NosDB',
 'Transwarp Hippo',
 'Acebase',
 'SiriDB',
 'SiteWhere',
 'Transwarp ArgoDB',
 'NSDb',
 'JaguarDB',
 'WakandaDB',
 'Transwarp StellarDB',
 'Galaxybase',
 'DataFS',
 'Sadas Engine',
 'Hawkular Metrics',
 'AgensGraph',
 'Faircom EDGE',
 'Cachelot.io',
 'iBoxDB',
 'ScaleOut StateServer',
 'Tkrzw',
 'SWC-DB',
 'LedisDB',
 'SwayDB',
 'Newts',
 'ActorDB',
 'Edge Intelligence',
 'WhiteDB',
 'SmallSQL',
 'SpaceTime',
 'SparkleDB',
 'Resin Cache',
 'JethroData',
 'BergDB',
 'CortexDB',
 'CovenantSQL',
 'DaggerDB',
 'EdgelessDB',
 'Helium',
 'HGraphDB',
 'JasDB',
 'K-DB',
 'RaptorDB',
 'Rizhiyi',
 'searchxml']

In [152]:
get_db_engines_ranking('json')

['Oracle',
 'MySQL',
 'Microsoft SQL Server',
 'PostgreSQL',
 'MongoDB',
 'Redis',
 'Elasticsearch',
 'IBM Db2',
 'SQLite',
 'Microsoft Access',
 'Snowflake',
 'Cassandra',
 'MariaDB',
 'Splunk',
 'Microsoft Azure SQL Database',
 'Amazon DynamoDB',
 'Databricks',
 'Hive',
 'Google BigQuery',
 'Teradata',
 'FileMaker',
 'Neo4j',
 'SAP HANA',
 'Solr',
 'SAP Adaptive Server',
 'HBase',
 'Microsoft Azure Cosmos DB',
 'InfluxDB',
 'PostGIS',
 'Microsoft Azure Synapse Analytics',
 'Firebird',
 'Couchbase',
 'Amazon Redshift',
 'Informix',
 'Memcached',
 'Spark SQL',
 'Impala',
 'Firebase Realtime Database',
 'ClickHouse',
 'Presto',
 'Vertica',
 'dBASE',
 'Netezza',
 'OpenSearch',
 'Apache Flink',
 'CouchDB',
 'Google Cloud Firestore',
 'Greenplum',
 'Amazon Aurora',
 'H2',
 'Kdb',
 'etcd',
 'Realm',
 'MarkLogic',
 'Hazelcast',
 'Prometheus',
 'Oracle Essbase',
 'Datastax Enterprise',
 'Aerospike',
 'Microsoft Azure Data Explorer',
 'Algolia',
 'Ehcache',
 'Derby',
 'CockroachDB',
 'ScyllaDB',
 'Microsoft Azure Search',
 'Interbase',
 'Microsoft Azure Table Storage',
 'Sphinx',
 'Jackrabbit',
 'Trino',
 'SingleStore',
 'Ingres',
 'Virtuoso',
 'TimescaleDB',
 'SAP SQL Anywhere',
 'Google Cloud Datastore',
 'Graphite',
 'HyperSQL',
 'Adabas',
 'Riak KV',
 'SAP IQ',
 'ArangoDB',
 'Apache Jena - TDB',
 'UniData,UniVerse',
 'Ignite',
 'Google Cloud Bigtable',
 'TiDB',
 'Accumulo',
 'RocksDB',
 'Oracle NoSQL',
 'OpenEdge',
 'DuckDB',
 'DolphinDB',
 'GemFire',
 'OrientDB',
 'Google Cloud Spanner',
 'RavenDB',
 'Infinispan',
 'MaxDB',
 'IBM Cloudant',
 'Oracle Berkeley DB',
 'YugabyteDB',
 'LevelDB',
 'Pinecone',
 'HEAVY.AI',
 'Memgraph',
 'Apache Druid',
 '4D',
 'CloudKit',
 'RethinkDB',
 'EXASOL',
 'Apache Drill',
 'PouchDB',
 'Apache Phoenix',
 'EDB Postgres',
 'TDengine',
 'InterSystems IRIS',
 'RRDtool',
 'GraphDB',
 'Citus',
 'InterSystems Cach√©',
 'Coveo',
 'IMS',
 'LMDB',
 'NebulaGraph',
 'Amazon Neptune',
 'Oracle Coherence',
 'Geode',
 'Amazon SimpleDB',
 'Percona Server for MySQL',
 'Amazon CloudSearch',
 'Stardog',
 'Firebolt',
 'Datomic',
 'SpatiaLite',
 'MonetDB',
 'jBASE',
 'BaseX',
 'Chroma',
 'Empress',
 'Amazon DocumentDB',
 'JanusGraph',
 'Mnesia',
 'Tibero',
 'QuestDB',
 'GridDB',
 'TigerGraph',
 'Db4o',
 'Weaviate',
 'Tarantool',
 'GridGain',
 'Dgraph',
 'SQLBase',
 'OpenTSDB',
 'Sedna',
 'OceanBase',
 'Fauna',
 'Datameer',
 'PlanetScale',
 'Actian NoSQL Database',
 'TimesTen',
 'VoltDB',
 'FoundationDB',
 'Infobright',
 'IBM Db2 warehouse',
 'NonStop SQL',
 'ObjectStore',
 'mSQL',
 'LiteDB',
 'Milvus',
 'DataEase',
 'Cubrid',
 'D3',
 'VictoriaMetrics',
 'Apache Kylin',
 'Giraph',
 'GT.M',
 'ObjectBox',
 'HFSQL',
 'Meilisearch',
 'MatrixOne',
 'Perst',
 'GBase',
 'Oracle Rdb',
 'GigaSpaces',
 'Vitess',
 'Northgate Reality',
 'SQL.JS',
 'EventStoreDB',
 'HPE Ezmeral Data Fabric',
 'AllegroGraph',
 'M3DB',
 'Apache HAWQ',
 'StarRocks',
 'solidDB',
 'NuoDB',
 'NCache',
 'openGauss',
 '1010data',
 'Apache IoTDB',
 'Qdrant',
 'Model 204',
 'ZODB',
 'BigchainDB',
 'SurrealDB',
 'Xapian',
 'DBISAM',
 'Actian Vector',
 'Hibari',
 'Dolt',
 'TypeDB',
 'Altibase',
 'Amazon Timestream',
 'ObjectDB',
 'Blazegraph',
 'Amazon Keyspaces',
 'TDSQL for MySQL',
 'IDMS',
 'RDF4J',
 'GeoMesa',
 'eXist-db',
 'WebSphere eXtreme Scale',
 'Rockset',
 'Yellowbrick',
 'SQream DB',
 'Datacom/DB',
 'Typesense',
 'MapDB',
 'Objectivity/DB',
 'CrateDB',
 'eXtremeDB',
 'SciDB',
 'AlaSQL',
 'KairosDB',
 'Kinetica',
 'Alibaba Cloud MaxCompute',
 'KeyDB',
 'OpenInsight',
 'Alibaba Cloud AnalyticDB for MySQL',
 'GemStone/S',
 'Vald',
 'Apache Doris',
 'ScaleArc',
 'RisingWave',
 'FrontBase',
 'Postgres-XL',
 'Apache Pinot',
 'Heroic',
 'VistaDB',
 'Scalaris',
 'NexusDB',
 'Percona Server for MongoDB',
 'Graph Engine',
 'BoltDB',
 'atoti',
 'Vespa',
 'LokiJS',
 'Raima Database Manager',
 'Databend',
 'R:BASE',
 'Redland',
 'HarperDB',
 'Splice Machine',
 'Alibaba Cloud AnalyticDB for PostgreSQL',
 'ModeShape',
 'Strabon',
 'Jade',
 'Sequoiadb',
 'CnosDB',
 'ITTIA',
 'Elliptics',
 'Elassandra',
 'Rasdaman',
 'Kingbase',
 'SearchBlox',
 'InfiniteGraph',
 '4store',
 'Alibaba Cloud ApsaraDB for PolarDB',
 'Starcounter',
 'Axibase',
 'Alibaba Cloud Log Service',
 'Kyligence Enterprise',
 'FeatureBase',
 'Lovefield',
 'Project Voldemort',
 'Brytlyt',
 'Machbase Neo',
 'Actian FastObjects',
 'OpenQM',
 'RDFox',
 'AnzoGraph DB',
 'Fluree',
 'Immudb',
 'Mimer SQL',
 'YDB',
 'RedStore',
 'HyperGraphDB',
 'Marqo',
 'EJDB',
 'Tajo',
 'Deep Lake',
 'AntDB Sponsored post',
 'LeanXcale',
 'Mulgara',
 'Fujitsu Enterprise Postgres',
 'FlockDB',
 'STSdb',
 'PieCloudDB',
 'Transbase',
 'ElevateDB',
 'Riak TS',
 'Cloudflare Workers KV',
 'Faircom DB',
 'NEventStore',
 'Comdb2',
 'YottaDB',
 'Quasardb',
 'Speedb',
 'EsgynDB',
 'Tibco ComputeDB',
 'HugeGraph',
 'Valentina Server',
 'PipelineDB',
 'Bangdb',
 'Dydra',
 'TinkerGraph',
 'IBM Db2 Event Store',
 'Ultipa',
 'Alibaba Cloud Table Store',
 'Actian PSQL',
 'CubicWeb',
 'Exorbyte',
 'GraphBase',
 'Tokyo Tyrant',
 'Skytable',
 'TerminusDB',
 'Badger',
 'GreptimeDB',
 'TransLattice',
 'ArcadeDB',
 'Transwarp KunDB',
 'Sparksee',
 'MyScale',
 'BigObject',
 'Linter',
 'Manticore Search',
 'Dragonfly',
 'Tigris',
 'H2GIS',
 'VelocityDB',
 'Eloquera',
 'HyperLevelDB',
 'XTDB',
 'Blueflood',
 'SenseiDB',
 'Alibaba Cloud TSDB',
 'TerarkDB',
 'OrigoDB',
 'TomP2P',
 'XtremeData',
 'Siaqodb',
 'YTsaurus',
 'Warp 10',
 'openGemini',
 'Upscaledb',
 'Kyoto Tycoon',
 'gStore',
 'OushuDB',
 'Indica',
 'BrightstarDB',
 'InfinityDB',
 'NosDB',
 'Transwarp Hippo',
 'Acebase',
 'SiriDB',
 'SiteWhere',
 'Transwarp ArgoDB',
 'NSDb',
 'JaguarDB',
 'WakandaDB',
 'Transwarp StellarDB',
 'Galaxybase',
 'DataFS',
 'Sadas Engine',
 'Hawkular Metrics',
 'AgensGraph',
 'Faircom EDGE',
 'Cachelot.io',
 'iBoxDB',
 'ScaleOut StateServer',
 'Tkrzw',
 'SWC-DB',
 'LedisDB',
 'SwayDB',
 'Newts',
 'ActorDB',
 'Edge Intelligence',
 'WhiteDB',
 'SmallSQL',
 'SpaceTime',
 'SparkleDB',
 'Resin Cache',
 'JethroData',
 'BergDB',
 'CortexDB',
 'CovenantSQL',
 'DaggerDB',
 'EdgelessDB',
 'Helium',
 'HGraphDB',
 'JasDB',
 'K-DB',
 'RaptorDB',
 'Rizhiyi',
 'searchxml']

In [170]:
help(get_db_engines_ranking)

Help on function get_db_engines_ranking in module __main__:

get_db_engines_ranking(export: str) -> List[str]
    Get db engines ranking for database usage.
    Params
    ------
        `export`: str
            'csv' or 'json' to set the export type,
            the file will be saved in the data folder.
    Returns
    -------
        A list of strings of databases' names.

# üåê [TIOBE-Index](https://www.tiobe.com/tiobe-index/)

üëâ <font color='orangered'>**It's updated monthly**</font>

## üîé Search

In [154]:
TIOBE_URL = 'https://www.tiobe.com/tiobe-index/'

In [155]:
tiobe_tables = pd.read_html(TIOBE_URL)

In [156]:
len(tiobe_tables)

4

In [157]:
for idx, table in enumerate(tiobe_tables):
    print(idx, ':', f'{len(table) = }')

0 : len(table) = 20
1 : len(table) = 30
2 : len(table) = 15
3 : len(table) = 20

In [115]:
tiobe_top20 = (tiobe_tables[0]
               .rename(columns={'Programming Language.1': 'Language'})
               ['Language']
              )
tiobe_top20

0                   Python
1                        C
2                      C++
3                     Java
4                       C#
5               JavaScript
6                      PHP
7             Visual Basic
8                      SQL
9        Assembly language
10                 Scratch
11                 Fortran
12                      Go
13                  MATLAB
14                  Kotlin
15    Delphi/Object Pascal
16                   Swift
17                    Ruby
18                       R
19                    Rust
Name: Language, dtype: object

In [118]:
tiobe_21_50 = (tiobe_tables[1]
               .rename(columns={'Programming Language': 'Language'})
               ['Language']
              )            
tiobe_21_50

0                   Prolog
1                    COBOL
2     Classic Visual Basic
3                      SAS
4          (Visual) FoxPro
5                      Ada
6                        D
7             Transact-SQL
8                     Perl
9                       F#
10                     Lua
11             Objective-C
12                    Dart
13                   Julia
14                    Lisp
15                   Scala
16                VBScript
17                    Logo
18                 Haskell
19              TypeScript
20                  PL/SQL
21                    GAMS
22                    ABAP
23                     X++
24                Solidity
25                  Scheme
26                    CFML
27                    Apex
28                    Bash
29                      ML
Name: Language, dtype: object

In [135]:
tiobe_top50 = (pd
               .concat([tiobe_top20, tiobe_21_50])
               .reset_index(drop=True)
               .str.replace('+', '\+')
               .apply(lambda s: r'\b' + s + r'\b')
)
tiobe_top50

0                   \bPython\b
1                        \bC\b
2                    \bC\+\+\b
3                     \bJava\b
4                       \bC#\b
5               \bJavaScript\b
6                      \bPHP\b
7             \bVisual Basic\b
8                      \bSQL\b
9        \bAssembly language\b
10                 \bScratch\b
11                 \bFortran\b
12                      \bGo\b
13                  \bMATLAB\b
14                  \bKotlin\b
15    \bDelphi/Object Pascal\b
16                   \bSwift\b
17                    \bRuby\b
18                       \bR\b
19                    \bRust\b
20                  \bProlog\b
21                   \bCOBOL\b
22    \bClassic Visual Basic\b
23                     \bSAS\b
24         \b(Visual) FoxPro\b
25                     \bAda\b
26                       \bD\b
27            \bTransact-SQL\b
28                    \bPerl\b
29                      \bF#\b
30                     \bLua\b
31             \bObjective-C\b
32                    \bDart\b
33                   \bJulia\b
34                    \bLisp\b
35                   \bScala\b
36                \bVBScript\b
37                    \bLogo\b
38                 \bHaskell\b
39              \bTypeScript\b
40                  \bPL/SQL\b
41                    \bGAMS\b
42                    \bABAP\b
43                   \bX\+\+\b
44                \bSolidity\b
45                  \bScheme\b
46                    \bCFML\b
47                    \bApex\b
48                    \bBash\b
49                      \bML\b
Name: Language, dtype: object

In [136]:
tiobe_top50_list = tiobe_top50.to_list()
print(tiobe_top50_list)

['\\bPython\\b', '\\bC\\b', '\\bC\\+\\+\\b', '\\bJava\\b', '\\bC#\\b', '\\bJavaScript\\b', '\\bPHP\\b', '\\bVisual Basic\\b', '\\bSQL\\b', '\\bAssembly language\\b', '\\bScratch\\b', '\\bFortran\\b', '\\bGo\\b', '\\bMATLAB\\b', '\\bKotlin\\b', '\\bDelphi/Object Pascal\\b', '\\bSwift\\b', '\\bRuby\\b', '\\bR\\b', '\\bRust\\b', '\\bProlog\\b', '\\bCOBOL\\b', '\\bClassic Visual Basic\\b', '\\bSAS\\b', '\\b(Visual) FoxPro\\b', '\\bAda\\b', '\\bD\\b', '\\bTransact-SQL\\b', '\\bPerl\\b', '\\bF#\\b', '\\bLua\\b', '\\bObjective-C\\b', '\\bDart\\b', '\\bJulia\\b', '\\bLisp\\b', '\\bScala\\b', '\\bVBScript\\b', '\\bLogo\\b', '\\bHaskell\\b', '\\bTypeScript\\b', '\\bPL/SQL\\b', '\\bGAMS\\b', '\\bABAP\\b', '\\bX\\+\\+\\b', '\\bSolidity\\b', '\\bScheme\\b', '\\bCFML\\b', '\\bApex\\b', '\\bBash\\b', '\\bML\\b']

In [137]:
ts = get_timestamp()
path = '../data/prog_lang_ranking_'
csv_path = f'{path}{ts}.csv'
json_path = f'{path}{ts}.json'
tiobe_top50.to_csv(csv_path)
with open(json_path, 'w', encoding='utf-8') as dump_file:
        # Last parameter `ensure_ascii` to force display of non-ascii characters
        json.dump(tiobe_top50_list, dump_file, indent=4, ensure_ascii=False)

## üõ†Ô∏è Sum-up Function

In [167]:
def get_tiobe_top50(export: str) -> List[str]:
    """
    Get Tiobe's monthly ranking for programming languages.
    Params
    ------
        `export`: str
            'csv' or 'json' to set the export type,
            the file will be saved in the data folder.
    Returns
    -------
        A list of strings of languages' names.
    """
    # Scrape tables
    tiobe_tables = pd.read_html(TIOBE_URL)
    # Get top 20 then 21-50
    tiobe_top20 = (tiobe_tables[0]
               .rename(columns={'Programming Language.1': 'Language'})
               ['Language']
              )
    tiobe_21_50 = (tiobe_tables[1]
               .rename(columns={'Programming Language': 'Language'})
               ['Language']
              )
    # Merging and preprocessing for next text searches
    tiobe_top50 = (pd
                   .concat([tiobe_top20, tiobe_21_50])
                   .reset_index(drop=True)
                   .str.replace('+', '\+')  # To properly preprocess C++
                   .apply(lambda s: r'\b' + s + r'\b')  # Add word boundaries
                  )
    tiobe_top50_list = tiobe_top50.to_list()

    # Export
    if export not in {'json', 'csv'}:
        print("NO EXPORT")
        print(f"Expected 'csv' or 'json' as output format, got {export}")
        return tiobe_top50_list
        
    ts = datetime.now().strftime('%Y-%m')
    path = '../data/tiobe_ranking'
    
    if export == 'csv':
        tiobe_top50.to_csv(f'{path}_{ts}.csv')
    else:
        with open(f'{path}_{ts}.json', 'w', encoding='utf-8') as dump_file:
            # `ensure_ascii` to force display of non-ascii characters
            json.dump(tiobe_top50_list, dump_file, indent=4, ensure_ascii=False)

    return tiobe_top50_list

## üíæ Testing and Exports

In [163]:
get_tiobe_top50('foo')

NO EXPORT
Expected 'csv' or 'json' as output format, got foo

['\\bPython\\b',
 '\\bC\\b',
 '\\bC\\+\\+\\b',
 '\\bJava\\b',
 '\\bC#\\b',
 '\\bJavaScript\\b',
 '\\bPHP\\b',
 '\\bVisual Basic\\b',
 '\\bSQL\\b',
 '\\bAssembly language\\b',
 '\\bScratch\\b',
 '\\bFortran\\b',
 '\\bGo\\b',
 '\\bMATLAB\\b',
 '\\bKotlin\\b',
 '\\bDelphi/Object Pascal\\b',
 '\\bSwift\\b',
 '\\bRuby\\b',
 '\\bR\\b',
 '\\bRust\\b',
 '\\bProlog\\b',
 '\\bCOBOL\\b',
 '\\bClassic Visual Basic\\b',
 '\\bSAS\\b',
 '\\b(Visual) FoxPro\\b',
 '\\bAda\\b',
 '\\bD\\b',
 '\\bTransact-SQL\\b',
 '\\bPerl\\b',
 '\\bF#\\b',
 '\\bLua\\b',
 '\\bObjective-C\\b',
 '\\bDart\\b',
 '\\bJulia\\b',
 '\\bLisp\\b',
 '\\bScala\\b',
 '\\bVBScript\\b',
 '\\bLogo\\b',
 '\\bHaskell\\b',
 '\\bTypeScript\\b',
 '\\bPL/SQL\\b',
 '\\bGAMS\\b',
 '\\bABAP\\b',
 '\\bX\\+\\+\\b',
 '\\bSolidity\\b',
 '\\bScheme\\b',
 '\\bCFML\\b',
 '\\bApex\\b',
 '\\bBash\\b',
 '\\bML\\b']

In [164]:
get_tiobe_top50('csv')

['\\bPython\\b',
 '\\bC\\b',
 '\\bC\\+\\+\\b',
 '\\bJava\\b',
 '\\bC#\\b',
 '\\bJavaScript\\b',
 '\\bPHP\\b',
 '\\bVisual Basic\\b',
 '\\bSQL\\b',
 '\\bAssembly language\\b',
 '\\bScratch\\b',
 '\\bFortran\\b',
 '\\bGo\\b',
 '\\bMATLAB\\b',
 '\\bKotlin\\b',
 '\\bDelphi/Object Pascal\\b',
 '\\bSwift\\b',
 '\\bRuby\\b',
 '\\bR\\b',
 '\\bRust\\b',
 '\\bProlog\\b',
 '\\bCOBOL\\b',
 '\\bClassic Visual Basic\\b',
 '\\bSAS\\b',
 '\\b(Visual) FoxPro\\b',
 '\\bAda\\b',
 '\\bD\\b',
 '\\bTransact-SQL\\b',
 '\\bPerl\\b',
 '\\bF#\\b',
 '\\bLua\\b',
 '\\bObjective-C\\b',
 '\\bDart\\b',
 '\\bJulia\\b',
 '\\bLisp\\b',
 '\\bScala\\b',
 '\\bVBScript\\b',
 '\\bLogo\\b',
 '\\bHaskell\\b',
 '\\bTypeScript\\b',
 '\\bPL/SQL\\b',
 '\\bGAMS\\b',
 '\\bABAP\\b',
 '\\bX\\+\\+\\b',
 '\\bSolidity\\b',
 '\\bScheme\\b',
 '\\bCFML\\b',
 '\\bApex\\b',
 '\\bBash\\b',
 '\\bML\\b']

In [165]:
get_tiobe_top50('json')

['\\bPython\\b',
 '\\bC\\b',
 '\\bC\\+\\+\\b',
 '\\bJava\\b',
 '\\bC#\\b',
 '\\bJavaScript\\b',
 '\\bPHP\\b',
 '\\bVisual Basic\\b',
 '\\bSQL\\b',
 '\\bAssembly language\\b',
 '\\bScratch\\b',
 '\\bFortran\\b',
 '\\bGo\\b',
 '\\bMATLAB\\b',
 '\\bKotlin\\b',
 '\\bDelphi/Object Pascal\\b',
 '\\bSwift\\b',
 '\\bRuby\\b',
 '\\bR\\b',
 '\\bRust\\b',
 '\\bProlog\\b',
 '\\bCOBOL\\b',
 '\\bClassic Visual Basic\\b',
 '\\bSAS\\b',
 '\\b(Visual) FoxPro\\b',
 '\\bAda\\b',
 '\\bD\\b',
 '\\bTransact-SQL\\b',
 '\\bPerl\\b',
 '\\bF#\\b',
 '\\bLua\\b',
 '\\bObjective-C\\b',
 '\\bDart\\b',
 '\\bJulia\\b',
 '\\bLisp\\b',
 '\\bScala\\b',
 '\\bVBScript\\b',
 '\\bLogo\\b',
 '\\bHaskell\\b',
 '\\bTypeScript\\b',
 '\\bPL/SQL\\b',
 '\\bGAMS\\b',
 '\\bABAP\\b',
 '\\bX\\+\\+\\b',
 '\\bSolidity\\b',
 '\\bScheme\\b',
 '\\bCFML\\b',
 '\\bApex\\b',
 '\\bBash\\b',
 '\\bML\\b']

In [168]:
help(get_tiobe_top50)

Help on function get_tiobe_top50 in module __main__:

get_tiobe_top50(export: str) -> List[str]
    Get Tiob's monthly ranking for programming languages.
    Params
    ------
        `export`: str
            'csv' or 'json' to set the export type,
            the file will be saved in the data folder.
    Returns
    -------
        A list of strings of languages' names.